<button type="button" (click)="openNewGameModal()" class="btn btn-danger">Add Game</button>

<app-modal-window #newGameFormModal [title]="'Add New Game'" [modalSize]="'modal-xs'" [showClose]="true">
  <div class="container">
    <form #newGameForm="ngForm" name="newGameForm">
      <div class="form-group col-12 row">
        <label class="input-label">Date</label>
        <div class="input-group">
          <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [(bsValue)]="bsValue">
        </div>
      </div>

      <div class="form-group col-12 row">
        <label class="input-label">First Death</label>
        <div class="input-group dropdown w-1000">
          <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenuButtonFirst" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
              Stage : <b>L.{{game.firstDeath.stage.level}} {{game.firstDeath.stage.stageType}} {{game.firstDeath.stage.position}}</b>
             <img class="pl-3" [src]="game.firstDeath.stage.getIcon()" /> 
          </button>
          <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButtonFirst">
            <div *ngFor="let stageLevel of allStages">
              <span class="font-weight-light">Level {{stageLevel[0].level}}</span>
              <a *ngFor="let stage of stageLevel" class="dropdown-item" (click)="setFirstDeath(stage)" href="javascript:;">
              <img [src]="stage.getIcon()" /> 
              {{stage.stageType}} {{stage.position}}

              </a>
              <div class="dropdown-divider"></div>
            </div>
          </div>
        </div>
        <div *ngIf="game.firstDeath.stage.stageType == stageTypes.Barrels" class="form-check pt-1">
          <input type="checkbox" class="form-check-input" [(ngModel)]="game.firstDeath.wild" name="firstCheck" id="firstCheck">
          <label class="form-check-label" for="firstCheck">Was it a wild barrel ?</label>
        </div>
        <div class="input-group pt-1">
          <input type="text" [(ngModel)]="game.firstDeath.comment" class="form-control" name="firstDeathComment" placeholder="Any comment...">
        </div>
      </div>

      <div class="form-group col-12 row">
        <label class="input-label">Second Death</label>
        <div class="input-group dropdown w-100">
          <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenuButtonSecond" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
               Stage : <b>L.{{game.secondDeath.stage.level}}  {{game.secondDeath.stage.stageType}} {{game.secondDeath.stage.position}}</b>
              <img class="pl-3" [src]="game.secondDeath.stage.getIcon()" /> 
          </button>
          <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButtonSecond">
            <div *ngFor="let stageLevel of allStages">
              <div *ngIf="stageLevel[0].level >= game.firstDeath.stage.level">
                <span class="font-weight-light">Level {{stageLevel[0].level}}</span>
                <a *ngFor="let stage of stageLevel" class="dropdown-item" (click)="setSecondDeath(stage)" href="javascript:;">
                  <img [src]="stage.getIcon()" /> 
                  {{stage.stageType}} {{stage.position}}
                </a>
                <div class="dropdown-divider"></div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="game.secondDeath.stage.stageType == stageTypes.Barrels" class="form-check pt-1">
          <input type="checkbox" class="form-check-input" [(ngModel)]="game.secondDeath.wild" name="secondCheck" id="secondCheck">
          <label class="form-check-label" for="secondCheck">Was it a wild barrel ?</label>
        </div>
        <div class="input-group pt-1">
          <input type="text" [(ngModel)]="game.secondDeath.comment" class="form-control" name="secondDeathComment" placeholder="Any comment...">
        </div>
      </div>

      <div class="form-group col-12 row">
        <label class="input-label">Third Death</label>
        <div class="input-group dropdown w-100">
          <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenuButtonThird" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
               Stage :  <b>L.{{game.thirdDeath.stage.level}} {{game.thirdDeath.stage.stageType}} {{game.thirdDeath.stage.position}}</b>
              <img class="pl-3" [src]="game.thirdDeath.stage.getIcon()" /> 
          </button>
          <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButtonThird">
            <div *ngFor="let stageLevel of allStages">
              <span class="font-weight-light">Level {{stageLevel[0].level}}</span>
              <a *ngFor="let stage of stageLevel" class="dropdown-item" (click)="setThirdDeath(stage)" href="javascript:;">
              <img [src]="stage.getIcon()" /> 
              {{stage.stageType}} {{stage.position}}

              </a>
              <div class="dropdown-divider"></div>
            </div>
          </div>
        </div>
        <div *ngIf="game.thirdDeath.stage.stageType == stageTypes.Barrels" class="form-check pt-1">
          <input type="checkbox" [(ngModel)]="game.thirdDeath.wild" name="thirdCheck" class="form-check-input" id="thirdCheck">
          <label class="form-check-label" for="thirdCheck">Was it a wild barrel ?</label>
        </div>
        <div class="input-group pt-1">
          <input type="text" [(ngModel)]="game.thirdDeath.comment" class="form-control" name="thirdDeathComment" placeholder="Any comment...">
        </div>
      </div>

      <div class="form-group col-12 row">
        <label class="input-label">Fourth Death</label>
        <div class="input-group dropdown w-100">
          <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenuButtonFourth" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
               Stage : <b>L.{{game.fourthDeath.stage.level}} {{game.fourthDeath.stage.stageType}} {{game.fourthDeath.stage.position}} </b>
              <img class="pl-3" [src]="game.fourthDeath.stage.getIcon()" /> 
          </button>
          <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButtonFourth">
            <div *ngFor="let stageLevel of allStages">
              <span class="font-weight-light">Level {{stageLevel[0].level}}</span>
              <a *ngFor="let stage of stageLevel" class="dropdown-item" (click)="setFourthDeath(stage)" href="javascript:;">
              <img [src]="stage.getIcon()" /> 
              {{stage.stageType}} {{stage.position}}

              </a>
              <div class="dropdown-divider"></div>
            </div>
          </div>
        </div>
        <div *ngIf="game.fourthDeath.stage.stageType == stageTypes.Barrels" class="form-check pt-1">
          <input type="checkbox" class="form-check-input" [(ngModel)]="game.fourthDeath.wild" name="fourthCheck" id="fourthCheck">
          <label class="form-check-label" for="fourthCheck">Was it a wild barrel ?</label>
        </div>
        <div class="input-group pt-1">
          <input type="text" [(ngModel)]="game.fourthDeath.comment" class="form-control" name="fourthDeathComment" placeholder="Any comment...">
        </div>
      </div>
      <div class="form-group col-12 row">

        <div class="input-group">
          <button (click)="submitGame()" class="btn btn-success w-100 ml-auto" type="button">
            Add this game
            <i class="fa fa-plus-circle"></i>
        </button>
        </div>
      </div>
    </form>
  </div>
</app-modal-window>
