<nav class="bg-dark fixed-top navbar navbar-dark navbar-expand zindex-dropdown p-0 donkeyNav">
  <!-- <div class="navbar-brand vendor-logo"></div> -->
  <img class="mr-2 navbar-brand vendor-logo " src="assets/logo.png" alt="Portal Logo" />
  <a (click)="goHome()" class="navbar-brand text-white d-none d-sm-block">
    Donkey Kong Practice tool
  </a>
  <ul class="ml-auto navbar-nav mr-3">
    <li class="">
      <a class="navbar-text pb-0 pt-0" target="_blank" href="https://drive.google.com/open?id=1hcCSFNu0jQWfLeT8SRyDkqFu9wWShgiL9ElK47soJW0">
        <i class="fas fa-question-circle"></i>
        <span class="d-none d-sm-inline">Tips</span>
      </a>

    </li>
    <li *ngIf="authService.user" class="pl-3">
        <a class="navbar-text pb-0 pt-0" [routerLink]="'/myBoard'" >
            <i class="far fa-user .d-inline .d-sm-none fa-lg"></i>
            <span class="d-none d-sm-inline">Welcome {{authService.user.name}}</span>
          </a>
    </li>
    <!-- nav login -->
    <li class="">
      <button type="button" *ngIf="!authService.user" class="btn btn-primary ml-4" (click)="openAuthModal()">Sign in</button>
      <button type="button" *ngIf="authService.user" class="btn btn-warning ml-4" (click)="authService.logout()">Log out</button>
    </li>
  </ul>
</nav>

<app-modal-window #authModal [title]="'Ready for some Donkey Kong ?'" [modalSize]="'modal-xs'" [showClose]="true">
  <app-auth (closeModal)="onCloseModalEvent($event);"></app-auth>
</app-modal-window>
