<nav class="bg-dark fixed-top navbar navbar-dark navbar-expand-md zindex-dropdown p-0 donkeyNav">
  <!-- <div class="navbar-brand vendor-logo"></div> -->
  <img class="mr-2 navbar-brand vendor-logo " src="assets/logo.png" alt="Portal Logo" />
  <a (click)="goHome()" class="navbar-brand text-white d-none d-sm-block">
        Donkey Kong Practice tool
    </a>


<div class="ml-auto">
  <a class="navbar-brand" href="#">Tips</a>
  <a class="navbar-brand ml-4" href="#">Your Name</a>
</div>
  


</nav>
